# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vscode/
.vsstudio/
*.log

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools*
UserSettings/
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.DS_Store
*.apk
*.unitypackage

# C++
*.obj
*.o
*.gch
*.pch
*.so
*.a
*.lib
*.dll
*.exe
*.out
*.app
*.dSYM/
*.idb
*.pdb

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
build/
dist/
.eggs/
*.egg-info/
*.egg
pip-log.txt
pip-delete-this-directory.txt

# VSCode
.vscode/

# Visual Studio
.vsstudio/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Microsoft garbage
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# General
.DS_Store
.idea/
*.swp
*.tmp
*.bak
*.old
*.orig
*.log
bridge.code-workspace
